.container {
    width: 100%;
}

.supp_name {
    text-decoration: none;
}

.summary-table {
    margin-left: 2%;
    margin-bottom: 3%;
    margin-top: 2%;
}

.summary-table tr {
    text-align: right;
    border: 1px solid grey;
    border-right: 1px solid grey;
}

.summary-table td {
    border-right: 1px solid grey;
    padding: 1%;
}

.summary-header {
    background: #0F292F;
    color: #D1FAE5;
    border: 1px solid grey;
    border-right: 1px solid grey;
    padding: 4px;
}

.summary-header th {
    border-right: 1px solid grey;
    padding: 5px;
}

.detail-table {
    display: inline-block;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 400px;
    margin-left: 2%;
    margin-right: 1%;
    
}

.detail-table th {
    text-align: center;
    background: #0F292F; color: #D1FAE5;
    padding: 1%;
    border: 1px solid grey;
    position: sticky;
    top: 0;
    margin-right: 1%;
}

.detail-table tr {
    text-align: right;
    border: 1px solid grey;
    border-right: 1px solid grey;
}

.detail-table td {
    border-right: 1px solid grey;
    padding: 1px;
}

.container {
    display: inline;
}
