{% extends "base.html" %}

{% load humanize %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<br>
<h2 style="margin-left: 20px; background: #0F292F; color: #D1FAE5; text-align: center; padding: 5px;">Bill Detail</h2>
<br>
<div style="margin-left: 20px;">
    <h4 style="color: #9CDCFE;"><strong style="color: white;">Supplier Name: </strong> {{ object.supplier_name }} </h4>
    <br>
    <p><strong>Received data: </strong> {{ object.receive_date }} </p>
    <p><strong>Unit: </strong>{{ object.unit }}</p>
    <p><strong>Bill No: </strong> {{ object.bill_no }}</p>
    <p><strong>Bill value: </strong> {{object.bill_value | floatformat:0| intcomma}}  </p>
    <p><strong>TDS: </strong> {{object.tds | floatformat:0| intcomma}} </p>
    <p><strong>VDS: </strong>{{object.vds | floatformat:0| intcomma}}</p>
    <p><strong>Net Payment: </strong>{{object.net_payment | floatformat:0| intcomma}}</p>
    <p><strong>Status: </strong>{{object.status}}</p>
    <p><strong>Payment Date: </strong>{{object.payment_date}}</p>
    <p><strong>Remarks: </strong>{{object.remarks}}</p>
    <a class="btn btn-primary" href="{% url 'home' %}" type="submit">Back to Bill list</a>
</div>


{% endblock %}